encryption = "gpg"
[gpg]
    symmetric = true

[git]
    autoCommit = true
    autoPush = true

[diff]
command = "delta --side-by-side"

pager = "diff-so-fancy"

{{ if eq .chezmoi.os "windows" }}    
[edit]
    command = "hx"

 {{ end }}
