
 
{{ if ne .chezmoi.os "windows" }}

{{ $lazygitVersion := "0.44.1"}}
[".local/bin/lazygit"]
  type = "archive-file"
  url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ $lazygitVersion }}/lazygit_{{ $lazygitVersion }}_Linux_x86_64.tar.gz"
  path = "lazygit"

{{ $skmVersion := "0.8.6"}}
[".local/bin/skm"]
  type = "archive-file"
  url = "https://github.com/TimothyYe/skm/releases/download/v{{ $skmVersion }}/skm_{{ $skmVersion }}_Linux_x86_64.tar.gz"
  path = "skm"


{{ $fzfVersion := "0.56.0"}}
[".local/bin/fzf"]
  type = "archive-file"
  url = "https://github.com/junegunn/fzf/releases/download/v{{ $fzfVersion }}/fzf-{{ $fzfVersion }}-linux_amd64.tar.gz"
  path = "fzf"
  
{{ $zellijVersion := "0.41.1"}}
[".local/bin/zellij"]
  type = "archive-file"
  url = "https://github.com/zellij-org/zellij/releases/download/v{{ $zellijVersion }}/zellij-aarch64-unknown-linux-musl.tar.gz"
  path = "zellij"


{{ end }}


