encryption = "gpg"
[gpg]
    symmetric = true

[git]
    autoCommit = true
    autoPush = true

[diff]
pager = "delta --side-by-side"



{{ if eq .chezmoi.os "windows" }}    
[edit]
    command = "hx"

 {{ end }}
