
 
{{ if ne .chezmoi.os "windows" }}


  
{{ $zellijVersion := "0.42.2"}}
[".local/bin/zellij"]
  type = "archive-file"
  url = "https://github.com/zellij-org/zellij/releases/download/v{{ $zellijVersion }}/zellij-x86_64-unknown-linux-musl.tar.gz"
  path = "zellij"





 
{{ end }}


