[[input.prepend_keymap]]
on   = "<Esc>"
run  = "close"
desc = "Cancel input"



[mgr]
prepend_keymap = [

	{ on = "<Enter>", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
	{ on = ["g", "s"], run = "plugin vcs-files", desc = "Show Git file changes" },
	# Hopping
	{ on = "e", run = "arrow -1", desc = "Previous file" },
	{ on = "n", run = "arrow 1", desc = "Next file" },
	# Navigation
	{ on = "m", run = "leave", desc = "Back to the parent directory" },
	{ on = "i", run = "enter", desc = "Enter the child directory" },
	# Linemode
	{ on = [ "l", "s" ], run = "linemode size",        desc = "Linemode: size" },
	{ on = [ "l", "p" ], run = "linemode permissions", desc = "Linemode: permissions" },
	{ on = [ "l", "b" ], run = "linemode btime",       desc = "Linemode: btime" },
	{ on = [ "l", "m" ], run = "linemode mtime",       desc = "Linemode: mtime" },
	{ on = [ "l", "o" ], run = "linemode owner",       desc = "Linemode: owner" },
	{ on = [ "l", "n" ], run = "linemode none",        desc = "Linemode: none" },
	# custom cmnds
	{ on = [ ";", "l" ], run = "shell --block lazygit",        desc = "Lazygit in foreground" },
	{ on = [ ";", "o" ], run = 'shell --block -- /home/osto/.config/yazi/yazi-picker_fromyazi.sh "$@"',        desc = "open in hx" },
	{ on = [ ";", "z" ], run = "shell --block 'zellij run -c -f --width 80% --height 80% -- lazygit'",        desc = "Lazygit floating" },
	{ on = [ ";", "c" ], run = "shell --block 'chezmoi add $0'",        desc = "Chezmoi add" },
	{ on = [ ";", "g" ], run = "plugin vcs-files",        desc = "Show Git file changes" },
        { on = [ ";", "d" ], run = "plugin diff",        desc = "Diff the selected with the hovered file" },
	{ on = [ "T"], run = "plugin toggle-pane min-preview",        desc = "Toggle preview" },

]
