{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

  {{ if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt install -y zsh

if [ ! -e ~/.oh-my-zsh ]; then
  echo "Installing ohmyzsh"
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
  echo "ohmyzsh installed"
  
fi

  {{ else if eq .chezmoi.osRelease.id "cachyos" }}
{{ end -}}
{{ end -}}
