{{ if (and ( eq .chezmoi.os "linux") (eq .chezmoi.hostname "osto2" "bbjen100" "osto3" "vw")) -}}
#!/bin/sh
  {{ if eq .chezmoi.osRelease.id "ubuntu" }}
	sudo nala install ddgr
  {{ else if eq .chezmoi.osRelease.id "cachyos" }}
	sudo pacman -S ddgr

{{ end -}}
{{ end -}}
