{{ if (and ( eq .chezmoi.os "linux") (eq .chezmoi.hostname "osto2" "bbjen100")) -}}
#!/bin/sh

  echo "installing lumo"

# curl -L https://github.com/agnath18K/lumo_cli/releases/download/v1.0.2/lumo_1.0.2_amd64.deb -o lumo.deb
# sudo dpkg -i lumo.deb
rm ~/.local/bin/lumo
bin install github.com/agnath18K/lumo_cli

echo "lumo installation complete! 👍"
{{ end -}}
