{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
  {{ if eq .chezmoi.osRelease.id "ubuntu" }}
    sudo apt install -y nala
  {{ else if eq .chezmoi.osRelease.id "cachyos" }}
    echo "no nala"

  {{ end }}

{{ end -}}
