{{ if (and ( eq .chezmoi.os "linux") (eq .chezmoi.hostname "osto2" "bbjen100" "osto3")) -}}
#!/bin/sh

  echo "Installing gdrive"
  wget https://github.com/glotlabs/gdrive/releases/latest/download/gdrive_linux-x64.tar.gz
  tar -xzf gdrive_linux-x64.tar.gz
  mv gdrive ~/.local/bin
  rm gdrive_linux-x64.tar.gz
echo "eza installation complete! 👍"
{{ end -}}
