{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
  echo "Installing eza"
# wget -c https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz -O - | tar xz
# sudo chmod +x eza
# sudo chown root:root eza
# sudo mv eza /usr/local/bin/eza
bin install github.com/eza-community/eza

echo "eza installation complete! 👍"
{{ end -}}
