{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

  echo "installing zoxide"
  curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
echo "zoxide installation complete! 👍"
{{ end -}}
