

{{ if eq .chezmoi.os "windows" -}}

sudo choco install -y sudo
sudo choco install -y helix
sudo choco install -y fzf
sudo choco install -y bat
sudo choco install -y ripgrep
sudo choco install -y zoxide
sudo choco install -y fd
sudo choco install -y Gpg4win
winget install --force  eza-community.eza


{{ end -}}
