{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install -y zsh

sudo apt install -y fd-find

sudo apt install -y tldr

sudo apt install -y curl

sudo apt install -y unzip

sudo apt install -y restic

sudo apt install -y bat

sudo apt install -y entr




if [ ! -L ~/.local/bin/fd ]; then
  echo "creating fd link"
  ln -s $(which fdfind) ~/.local/bin/fd
else
  echo "fd already linked"
fi
if [ ! -L ~/.local/bin/bat ]; then
  echo "creating bat link"
  ln -s $(which batcat) ~/.local/bin/bat
else 
  echo "bat already link"
fi




if [ ! -e ~/.oh-my-zsh ]; then
  echo "Installing ohmyzsh"
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
  echo "ohmyzsh installed"
  
fi


if ! command -v hx 2>&1 >/dev/null
then
  echo "Installing hx"
  wget https://github.com/helix-editor/helix/releases/download/24.07/helix-24.07-x86_64-linux.tar.xz
  tar xf helix-24.07-x86_64-linux.tar.xz  
  cp ./helix-24.07-x86_64-linux/hx ~/.local/bin
  cp -r ./helix-24.07-x86_64-linux/runtime ~/.config/helix
  rm helix-24.07-x86_64-linux.tar.xz
  
  rm -R helix-24.07-x86_64-linux
else
  echo "hx installed"
fi

if ! command -v zellij 2>&1 >/dev/null
then
  echo "Installing zellij"
  wget https://github.com/zellij-org/zellij/releases/download/v0.40.1/zellij-x86_64-unknown-linux-musl.tar.gz 
  tar -xzf  zellij-x86_64-unknown-linux-musl.tar.gz 
  mv zellij ~/.local/bin
  rm zellij-x86_64-unknown-linux-musl.tar.gz  
else
  echo "zellij installed"
fi

if [ ! -e ~/.oh-my-zsh/custom/plugins/fzf-tab ]; then
# Install fzf-tab 
# https://github.com/Aloxaf/fzf-tab
  git clone https://github.com/Aloxaf/fzf-tab ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/fzf-tab
fi

if [ -n "$(dpkg -s eza 2>/dev/null | grep 'Status: install ok installed')" ]; then
  echo "eza already installed"
else
  echo "installing eza"
  sudo mkdir -p /etc/apt/keyrings
  wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
  echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
  sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
  sudo apt update
  sudo apt install -y eza
fi

if ! command -v gdrive 2>&1 >/dev/null
then
  echo "Installing gdrive"
  wget https://github.com/glotlabs/gdrive/releases/latest/download/gdrive_linux-x64.tar.gz
  tar -xzf gdrive_linux-x64.tar.gz
  mv gdrive ~/.local/bin
  rm gdrive_linux-x64.tar.gz
else
  echo "gdrive installed"
fi


if ! command -v delta 2>&1 >/dev/null
then
  echo "installing delta"
  wget https://github.com/dandavison/delta/releases/download/0.18.2/git-delta_0.18.2_amd64.deb
  sudo dpkg -i git-delta_0.18.2_amd64.deb
  rm git-delta_0.18.2_amd64.deb
else
  echo "delta installed"
fi


if ! command -v skm 2>&1 >/dev/null
then
  echo "installing skm"
  wget https://github.com/TimothyYe/skm/releases/latest/download/skm_0.8.6_Linux_i386.tar.gz
  tar -xzf skm_0.8.6_Linux_i386.tar.gz skm
  mv skm ~/.local/bin
  rm skm_0.8.6_Linux_i386.tar.gz
else
  echo "skm installed"
fi


if ! command -v yazi 2>&1 >/dev/null
then
  echo "installing yazi"
# Download the latest release
wget https://github.com/sxyazi/yazi/releases/latest/download/yazi-x86_64-unknown-linux-gnu.zip

# Unzip the downloaded file
unzip yazi-x86_64-unknown-linux-gnu.zip

# Move the extracted binary to ~/.local/bin
mv yazi-x86_64-unknown-linux-gnu/yazi ~/.local/bin/

mv yazi-x86_64-unknown-linux-gnu/ya ~/.local/bin/

# Cleanup the downloaded zip file
rm yazi-x86_64-unknown-linux-gnu.zip

rm -R yazi-x86_64-unknown-linux-gnu

ya pack -u
else
  echo "yazi installed"
fi


if ! command -v zoxide 2>&1 >/dev/null
then
  echo "installing zoxide"
  curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
else
  echo "zoxide installed"
fi


// LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
// curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
// tar xf lazygit.tar.gz lazygit
// sudo install lazygit /usr/local/bin


{{ end -}}
