

{{ if eq .chezmoi.os "windows" -}}

gsudo choco install -y gsudo
gsudo choco install -y helix
gsudo choco install -y yazi
gsudo choco install -y fzf
gsudo choco install -y bat
gsudo choco install -y ripgrep
gsudo choco install -y zoxide
gsudo choco install -y fd
gsudo choco install -y Gpg4win
gsudo choco install -y lite-xl
winget install --force  eza-community.eza


{{ end -}}
