{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
  {{ if eq .chezmoi.osRelease.id "debian" }}
    sudo apt install -y nala
  {{ else if eq .chezmoi.osRelease.id "fedora" }}
    echo "no nala"

  {{ end }}

{{ end -}}
